.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-container div {
  margin: 5% 5% 3% 7%;
}


.about-container .experience {
  margin-bottom: 10%;
  margin-right: 20%;
}

.about-container p {
  font-size: 1.1rem;
  margin-left: 20%;
  font-weight: normal;
}

/* .about-container ul li {
 list-style: none;
} */

.about-container h4 {
font-weight: bold;
}

.hr {
  width: 90%;
  height: 2px;
  background: rgb(245, 223, 223);
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 0;
  border: 0;
}