.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-container div {
  margin: 5% 5% 3% 7%;
}

.about-container .experience {
  margin-bottom: 3%;
  margin-right: 23.8%;
}

.hr {
  width: 90%;
  height: 2px;
  background: rgb(245, 223, 223);
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 0;
  border: 0;
}

.about-container  div .projects {
  margin-bottom: 10%;
  margin-left: 0;
}

.about-container p {
  font-size: 1.2rem;
  margin-left: 20%;
  font-weight: normal;
}

.profile p {
  padding-right: 12%;
  font-size: 1.2rem;
}

.experience a {
  text-decoration: none;
  color: rgb(142, 204, 207);
}

.experience a:hover {
  text-decoration: none;
  color: rgb(142, 204, 207);
  border-bottom: 2px rgb(142, 204, 207) solid;
  font-weight: bold;
}

.projects a {
  text-decoration: none;
  color: rgb(70, 165, 170);
}

.projects a:hover {
  text-decoration: none;
  color: rgb(142, 204, 207);
  border-bottom: 2px rgb(142, 204, 207) solid;
  font-weight: bold;
}

.about-container h4 {
  font-weight: bold;
}

.projects-container h4 {
  font-weight: bold;
}

.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projects-container div {
  margin: 5% 0% 4% 7%;
}

.projects p {
  margin-left: -61vw;
  font-size: 1.2rem;
  font-weight: normal;
}
