header h1 {
  margin-top: 28%;
  font-size: 2.3rem;
  line-height: 3.5rem;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 12% 5% 5% 5%;
}

.header-container img {
  padding-left: 3%;
  /* box-shadow: cadetblue ; */
}

.here-link {
  text-decoration: none;
  color: rgb(142, 204, 207);
}

.here-link:hover {
  text-decoration: none;
  color: rgb(142, 204, 207);
  border-bottom: 3px rgb(142, 204, 207) solid;
}

.header-container hr {
  width: 90px;
  height: 4px;
  background: #000;
  margin: 32px 0;
  border: 0;
}

.empty-box {
  background-color: rgb(245, 223, 223);
  width: 100%;
  height: 75vh;
  position: absolute;
  z-index: -1;
}

/* smartphone portrait */
@media screen and (min-width: 300px) and (max-width: 480px) {
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .header-container h1 {
    margin-top: 20%;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-left: 4%;
    padding-right: 1%;
  }

  .header-container h3 {
    font-size: 0.9rem;
    line-height: 1.4rem;
    padding-left: 4%;
    padding-right: 1%;
  }

  .header-container img {
    margin-top: 8%;
    width: 99%;
    height: 0%;
    padding-right: 2%;
  }

  .header-container hr {
    width: 20%;
    height: 2px;
    background: #000;
    margin: 5%;
  }

  .empty-box {
    height: 60vh;
  }
}

@media screen and (min-width: 481px) and (max-width: 799px) {
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .header-container h1 {
    margin-top: 8%;
    font-size: 1.5rem;
    line-height: 2.2rem;
    padding-left: 3%;
  }

  .header-container h3 {
    font-size: 1.4rem;
    line-height: 1.7rem;
    padding-left: 3%;
  }

  .header-container img {
    margin-top: 4%;
    width: 99%;
    height: 0%;
    padding-right: 2%;
    margin-bottom: 5%;
  }
  .header-container hr {
    width: 20%;
    height: 2px;
    margin-left: 3%;
  }

  .empty-box {
    width: 100%;
    height: 58vh;
  }
}

@media screen and (min-width: 800px) and (max-width: 1299px) {
  .header-container h1 {
    margin-top: 22%;
    font-size: 1.7em;
    line-height: 2.2rem;
  }

  .header-container img {
    margin-top: 5%;
    width: 570px;
    height: 380px;
    margin-left: 3%;
  }

  .header-container h3 {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .header-container hr {
    width: 25%;
    height: 2px;
    margin-top: 10%;
  }

  .empty-box {
    height: 72vh;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1503px) {
  .header-container h1 {
    margin-top: 20%;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .header-container img {
    margin-top: 3%;
    width: 820px;
    height: 550px;
    margin-right: 5%;
  }

  .header-container h3 {
    margin-top: 2%;
    font-size: 2.1rem;
    line-height: 2.9rem;
  }

  .header-container hr {
    width: 25%;
    height: 3px;
    background: #000;
    margin: 32px 0;
    border: 0;
  }

  .empty-box {
    background-color: rgb(245, 223, 223);
    width: 100%;
    height: 78vh;
    position: absolute;
    z-index: -1;
  }
}

@media screen and (min-width: 1505px) and (max-width: 1600px) {
  .header-container h1 {
    margin-top: 19%;
    font-size: 2.5rem;
    line-height: 3.4rem;
  }

  .header-container img {
    margin-top: 2%;
    width: 920px;
    height: 610px;
    margin-right: 8%;
  }

  .header-container h3 {
    margin-top: 5%;
    font-size: 2.3rem;
    line-height: 3.1rem;
  }

  .header-container hr {
    width: 25%;
    height: 3px;
    background: #000;
    margin: 32px 0;
    border: 0;
  }

  .empty-box {
    background-color: rgb(245, 223, 223);
    width: 100%;
    height: 73vh;
    position: absolute;
    z-index: -1;
  }
}
