.nav-container {
  background-color: rgb(245, 223, 223, 0.9);
  position: fixed;
  top: 0;
  height: 8%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  padding-top: auto;
  z-index: 1;
}

.nav-item {
  padding-right: 2%;
}

.nav-container a {
  text-decoration: none;
  font-size: 1.1em;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

.nav-container a:hover {
  color: rgb(142, 204, 207);
  border-bottom: 2px rgb(142, 204, 207) solid;
}

.nav-container a:focus {
  color: rgb(142, 204, 207);
}

.name-logo {
  margin-right: 72vw;
  font-weight: bolder;
  font-size: 1.1em;
}