.card-container {
  margin-top: 6%;
}

.card-container .card {
  width: 100%;
  margin-top: 20%;
  padding-top: 2%;
  z-index: -1;
  margin: 0 auto;
  border: none;
  background-color: rgb(245, 223, 223, 0.9);
  margin-bottom: 5%;
}

.card div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card a {
  padding-bottom: 1%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.card a:hover {
  text-decoration: underline;
  color: rgb(70, 165, 170); 
  border-bottom: 3px rgb(70, 165, 170) solid;
}

.project-img {
  border: white 3px solid;
  margin-bottom: 2%;
}

.project-title {
  margin-bottom: 2%;
}

.project-description li {
  list-style: none;
  text-align: center;
  margin-left: 21vw;
  margin-right: 23vw;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 1%;
}

/* .h5-title {
  margin-bottom: 2%;
  margin-left: 26vw;
  margin-right: 26vw;
} */
