.footer {
  background-color: transparent;
  padding-top: 1%;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-container a:hover {
  text-decoration: none;
  color: rgb(230, 198, 197);
  border-bottom: 3px rgb(230, 198, 197) solid;
}

aside a,
p {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

.links a {
  margin-right: 15px;
}
