header h1 {
  margin-top: 128px;

  /* position: absolute; */
}

h1 {
  font-size: 2.3rem;
  line-height: 3.5rem;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 12%;
  padding-bottom: 0;
}

.here-link {
  text-decoration: none;
  color: rgb(95, 202, 197);
}

.here-link:hover {
  text-decoration: none;
  color: rgb(95, 202, 197);
  border-bottom: 3px rgb(95, 202, 197) solid;
}

.header-container hr {
  width: 90px;
  height: 4px;
  background: #000;
  margin: 32px 0;
  border: 0;
}
