.nav-container {
  background-color: transparent;
  position: fixed;
  top: 0;
  height: 8%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  padding-top: auto;
}

.nav-item {
  padding-right: 2%;
}

.nav-container a {
  text-decoration: none;
  font-size: 1.3em;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

h4 {
  padding-right: 70vw;
  font-weight: bolder;
  font-size: 1.3em;
}
