.card-container .card {
  width: 100%;
  margin-top: 20%;
  padding-top: 2%;
  z-index: -1;
  margin: 0 auto;
  border: none;
  background-color: rgb(230, 198, 197, 0.9);
  margin-bottom: 8%;
}

.card div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h2 {
  padding-bottom: 1%;
}

.project-img {
    border: white 3px solid;
    margin-bottom: 2%;
}

.project-title {
  margin-bottom: 2%;
}

h2, h5 {
  text-align: center;
  margin-left: 29vw;
  margin-right: 29vw;
  font-weight: bold;
}