.App {
  text-align: center;
  background-image: url("./background-images/cesar-couto-TIvFLeqZ4ec-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300vh;
  max-width: 100vw;
}

h1 {
  padding-top: 10vh;
}

